.meal-summary{
    text-align: center;
    background-color: #383838;
    position: relative;
    top: -10rem;
    margin: auto;
    color:white;
    border-radius: 14px;
    padding:1rem;
padding-top: 1px;

    width: 50%;
    box-shadow: 0 1px 18px 10px rgba(0, 0, 0, 0.25);
}