.expense-item{
    color: white;
    border-radius: 0.5rem;
    background-color: #434243;
    width:100%;
    display: flex;
    margin-top:1rem;
    padding:1rem;
    align-items: center;
    position: relative;
    .item__date{
        border-radius: .5rem;
        display: flex;
        flex-direction: column;
        background-color: #262526;
        border:1px solid white;
        width: 4rem;
        height: 4rem;
     
        text-align: center;
        justify-content: center;
        .name-of-month{
            font-size: 0.6rem;
            font-weight: 600;
        }
        .fullyear{
            font-size: 0.6rem;
        }
        .day{
            font-weight: 600;
        }
    }
    .item__title{
font-weight: 600;
margin-left: 1rem;
    }
    .item__amount{
        position: absolute;
        right: 1rem;
        padding: 0.3rem 1rem;
        background-color: #380052;
        border:1px solid white;
        border-radius: 0.5rem;
        font-weight: 600;
    }
        
    
}