.form{

    display: flex;
    flex-direction: column;
    // padding: 1rem;
    label{
        font-weight: 700;
        
    }
    input{
        margin: 0.8rem 0;
        &:focus{
            outline: none;
            border: 2px solid #4C0B56;
        }
    }
    button{
        background-color: #4C0B56;
        width: 7rem;
        color: white;
        font-weight: 700;
        height: 2rem;
        display: flex;
        align-items: center;
        justify-content: center;
        border: none;
        
    }
}